data/raw/*
data/processed/*
!**/.gitkeep
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# data
data/*
imgs/*
logs/*
*.csv

# notebooks
notebooks/*

# model
checkpoints/*
model_configs/*
*.pt

# md
NOTE.md

# wandb
wandb/